System Requirements
===================

To run VCS Tracker your computer must meet the following minimum system requirements

**Windows:**

* Windows XP (w/SP3), Windows Vista (w/SP2), Windows 7 (w/SP1), Windows 8 or Windows 8.1
* Intel Pentium 4 (or AMD equivalent) or higher CPU
* 512MB of RAM (1GB+ recommended)
* 1024x768 screen resolution (1280x1024 or higher recommended)
* 200MB of free hard drive space

**Mac OS X:**

* Mac OS X 10.6 (Snow Leopard) or higher
* 512GB RAM (1GB+ recommended)
* 1024x768 screen resolution (1280x1024 or higher recommended)
* 200MB of free hard drive space